.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20px;
}

.square:focus {
  outline: none;
}

.square:hover{
  cursor: pointer;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

/* @media screen and (max-width: 700px) {
  .game {
    transform: scale(0.75);
  }
  .square {
    transform: scale(0.75);
  }
} */