@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
