#dreamteam {
  display: flex;
  justify-content: space-evenly;
  padding: 0 auto;
}

#dev-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-3 img {
  width: 12vw;
}

@media screen and (max-width: 1160px) {
  #dreamteam {
    flex-direction: column;
  }

  .m-3 img {
    width: 50%;
  }
}
