#dreamteam {
  display: flex;
  justify-content: space-evenly;
}

#dev-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1025px) {
    #dreamteam {
        flex-direction: column;
      }

}

.m-3 img {
    width: 12vw;
}