.btn-toolbar {
  flex-wrap: nowrap;
}

.btn-toolbar.special {
  display: flex;
}

.special .btn-group {
  flex: 1;
}

#drawDiv {
  padding: 15px;
  width: 100%;
}

.col-leftCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-dimension {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.col-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#currentColor {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background: white;
  border-radius: 0.25vw;
  line-height: 0.75;
  /* vertical-align: middle; */
}

#currentColor p {
  margin: 0.1vw 0;
}

.well {
  padding: 20px;
}
@media screen and (max-width: 991px) {
  #drawDiv {
    padding: 5px;
    width: 100%;
  }
}
