.btn-toolbar {
  flex-wrap: nowrap
}

.btn-toolbar.special {
  display: flex;
}

.special .btn-group {
  flex: 1
}

#drawDiv {
  padding: 15px;
  width: 100%;
}

.col-leftCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentColor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  background-color: white;
  padding-top: 10px;
}

#currentColor p {
  padding-top: 2px;
  margin-right: 45px;
  position: relative;
}

.well {
  padding: 20px;
}
@media screen and (max-width: 991px) {
  #drawDiv {
    padding: 5px;
    width: 100%;
  }
}